# home assistant specific
secrets.yaml
known_devices.yaml
phue.conf
deps/
tts/
custom_components/

#script contains secrets
bin/mindergas.py

# MacOS
.DS_Store
._*

*.log

# sane defaults from cookbook

*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.gitignore
