# home assistant specific
secrets.yaml
known_devices.yaml
ip_bans.yaml
entity_registry.yaml

#folders
www/
lib/
deps/
tts/
custom_components/

ssh/

# this script contains secrets
bin/mindergas.py

# MacOS
.DS_Store
._*

*.log

# sane defaults from cookbook

*.pid
*.xml
*.csr
*.crt
*.key
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal

*.db-journal

*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite

.*
!/.gitignore
