# home assistant files
home-assistant_v2.db
home-assistant.log
ip_bans.yaml
known_devices.yaml
secrets.yaml

# home assistant folders
.cloud/
.storage/
deps/
homebridge/
lib/
tts/
custom_components/
www/
www/community/

# zwave
OZW_Log.txt

# MacOS
.DS_Store
._*

# sane defaults
*.pid
*.xml
*.conf
*.csr
*.crt
*.key
*.log

# database files
*.db
*.db-shm
*.db-wal
*.db-journal
*.sqlite
*.sqlite-journal

# custom files
energy_consumption.csv

# custom folders
ssh/

# custom components
# authenticated
.ip_authenticated.yaml

# exceptions (!...)
