extends: default

rules:
  document-start: disable
  new-line-at-end-of-file: disable
  line-length: disable

ignore: |

  # folders
  blueprints/
  custom_components/
  themes/

  # files
  automations.yaml
  customize.yaml
  groups.yaml
  ip_bans.yaml
  known_devices.yaml
  scenes.yaml
  scripts.yaml
  secrets.yaml
  secrets.example.yaml
