extends: default

rules:
  document-start: disable
  new-line-at-end-of-file: disable

ignore: |
  themes/
  custom_components/
  automations.yaml
  customize.yaml
  groups.yaml
  ip_bans.yaml
  known_devices.yaml
  scenes.yaml
  scripts.yaml
  blueprints/automation/seamus65/zha-ikea-symfonisk-sound-controller-for-media-the-spinny-one.yaml
